:root {
  --color-text: #757575;
  --color-title: #212121;
  --color-accent: #2196f3;
  --studio-color: black;
  --hero-text-color: #ffffff;
  --background-team-color: #f5f4fa;
  --background-footer: #2f303a;
  --footer-studio: white;
  --footer-contacts: #ffffff99;
  --border-radius: 0px 0px 4px 4px;
  --card-set-gap: 30px;
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --list-style: none;
  --text-decoration: none;
  --transition-timing: 250ms;
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

a {
  -webkit-text-decoration: var(--text-decoration);
          text-decoration: var(--text-decoration);
}

ul {
  list-style: var(--list-style);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.footer,
.adress,
.footer__list,
.nav__link {
  padding-left: 0;
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: var(--color-text);
  font-style: normal;
  letter-spacing: 0.03em;
  margin: 0;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.27;
  text-align: center;
  color: var(--color-title);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.projects__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-title);
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.card__set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 0px;
  padding-left: 0px;
  margin: -15px;
  list-style: none;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .card__set {
    margin-bottom: 60px;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

@media screen and (max-width: 767.98px) {
  .card__set {
    margin-bottom: 60px;
  }
}

.card__thumb {
  position: relative;
  overflow: hidden;
}

.card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  margin: 15px;
}

@media screen and (max-width: 767px) {
  .card__item {
    width: 100%;
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .card__item {
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
        flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .card__item {
    -ms-flex-preferred-size: calc((100% - 3 * 30px) / 3);
        flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

.card__item:hover,
.card__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__content {
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.card__set .card__content {
  border-right: 1px solid var(--background-team-color);
  border-bottom: 1px solid var(--background-team-color);
  border-left: 1px solid var(--background-team-color);
  padding: 20px 20px;
}

.card__text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #2196f3e6;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__name {
  color: var(--color-text);
}

.card__content:focus,
.card__content:hover,
.card__link:focus .card__text,
.card__link:hover .card__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  cursor: pointer;
}

.about {
  padding-top: 94px;
  padding-left: auto;
  padding-right: auto;
}

@media screen and (min-width: 768px) {
  .about {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 767.98px) {
  .about {
    margin-bottom: 60px;
  }
}

.about__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
  margin-top: 0;
  margin-bottom: 0;
}

.about__list__list:not(:last-child) {
  width: 270px;
  margin-right: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767.98px) {
  .about__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about__item {
  width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media screen and (max-width: 767.98px) {
  .about__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .about__item {
    width: 354px;
  }
  .about__item:nth-child(odd) {
    margin-right: 30px;
  }
  .about__item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .about__item {
    width: 270px;
  }
  .about__item:nth-child(-n + 2) {
    margin-bottom: 0;
  }
  .about__item:not(:last-child) {
    margin-right: 30px;
  }
}

.text {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: #757575;
}

.shift-buttons-set {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}

.shift-buttons-set__item {
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
}

@media screen and (max-width: 767.98px) {
  .shift-buttons-set__item {
    margin-bottom: 15px;
  }
}

.shift-buttons-set:not(:last-child) {
  margin-right: 8px;
}

.btn__close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
  color: #000;
  background-color: #ffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: color var(--transition-timing) var(--transition-function);
  transition: color var(--transition-timing) var(--transition-function);
}

.btn {
  background-color: var(--color-accent);
  color: var(--hero-text-color);
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.87;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border-width: 0;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color var(--transition-timing) var(--transition-function);
  transition: background-color var(--transition-timing) var(--transition-function);
}

.btn:hover, .btn:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color var(--transition-timing) var(--transition-function);
  transition: background-color var(--transition-timing) var(--transition-function);
}

.shift__btn {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  border: 0;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.shift__btn:focus, .shift__btn:hover {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
}

.mobile__button {
  position: absolute;
  top: 10px;
  right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile__svg {
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile__button:hover .mobile__svg,
.mobile__button:focus .mobile__svg {
  fill: #2196f3;
}

.mobile__button.is-open .mobile__open {
  display: none;
}

.mobile-menu {
  display: none;
  position: fixed;
  z-index: 5;
  top: 0;
  left: -1px;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  padding-top: 48px;
  padding-left: 40px;
  padding-bottom: 48px;
}

.mobile-menu.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile-menu__list {
  list-style-type: none;
}

.mobile-menu__item {
  display: block;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  display: inline-block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #2196f3;
}

.mobile-menu__contacts {
  list-style-type: none;
  margin-bottom: 64px;
}

.mobile-menu__contacts-list:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__contacts-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}

.mobile-menu__contacts-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__contacts-mail:hover, .mobile-menu__contacts-mail:focus {
  color: #2196f3;
}

.mobile-menu__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
}

.mobile-menu__social-item {
  position: relative;
}

.mobile-menu__social-item:not(:last-child) {
  margin-right: 20px;
}

.mobile-menu__social-item:not(:last-child) :after {
  position: absolute;
  content: "";
  display: inline-block;
  outline: 1px solid rgba(33, 33, 33, 0.2);
  height: 100%;
  bottom: 0;
  right: -10px;
}

.mobile-menu__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  -webkit-transition: opacity var(--transition-timing) var(--transition-function), visibility var(--transition-timing) var(--transition-function);
  transition: opacity var(--transition-timing) var(--transition-function), visibility var(--transition-timing) var(--transition-function);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  height: 581px;
  top: 50%;
  left: 50%;
  width: 528px;
  padding: 40px;
  background-color: var(--hero-text-color);
  border-radius: 4px;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: opacity var(--transition-timing) var(--transition-function), -webkit-transform var(--transition-timing) var(--transition-function);
  transition: opacity var(--transition-timing) var(--transition-function), -webkit-transform var(--transition-timing) var(--transition-function);
  transition: transform var(--transition-timing) var(--transition-function), opacity var(--transition-timing) var(--transition-function);
  transition: transform var(--transition-timing) var(--transition-function), opacity var(--transition-timing) var(--transition-function), -webkit-transform var(--transition-timing) var(--transition-function);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .modal {
    padding-bottom: 70px;
  }
}

@media screen and (max-width: 767.98px) {
  .modal {
    max-width: 95%;
    padding-bottom: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    padding-bottom: 70px;
  }
}

.modal__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--color-title);
}

.btn__close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
  color: #000;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: color var(--transition-timing) var(--transition-function);
  transition: color var(--transition-timing) var(--transition-function);
}

.svg-link,
.form__icon,
.svg {
  fill: currentColor;
}

.svg__mail,
.svg__phone {
  margin-right: 10px;
}

.svg:hover,
.svg:focus {
  fill: var(--color-accent);
  -webkit-transition: color var(--transition-timing) var(--transition-function);
  transition: color var(--transition-timing) var(--transition-function);
}

.form__label:focus-within,
.form__field:focus-within .form__icon {
  fill: var(--color-accent);
}

.form__contact {
  text-align: center;
}

.form__field {
  display: block;
  margin-bottom: 10px;
  text-align: left;
}

.form__label {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form__container {
  position: relative;
  display: block;
}

.form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  width: 100%;
  height: 40px;
  padding: 12px 16px;
  padding-left: 42px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--caption-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color var(--transition-timing) var(--transition-function);
  transition: border-color var(--transition-timing) var(--transition-function);
}

@media screen and (max-width: 767px) {
  .form__input:focus-within {
    color: var(--color-accent);
  }
}

.form__field:focus-within .form__input,
.form__field:focus-within .form__comments {
  outline: 0;
  border-color: var(--color-accent);
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 13px;
  color: var(--color-title);
  fill: currentColor;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: color var(--transition-timing) var(--transition-function);
  transition: color var(--transition-timing) var(--transition-function);
}

.form__field.comments {
  margin-bottom: 20px;
}

.form__comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  cursor: pointer;
  color: var(--color-title);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color var(--transition-timing) var(--transition-function);
  transition: border-color var(--transition-timing) var(--transition-function);
}

@media screen and (max-width: 767px) {
  .form__comments:focus-within {
    color: var(--color-accent);
  }
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.checkbox__container {
  position: relative;
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  cursor: pointer;
}

.checkbox__form {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.form-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 15px;
}

.form-icon--checked {
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
  opacity: 0;
  -webkit-transition: opacity var(--transition-timing) var(--transition-function), -webkit-transform var(--transition-timing) var(--transition-function);
  transition: opacity var(--transition-timing) var(--transition-function), -webkit-transform var(--transition-timing) var(--transition-function);
  transition: transform var(--transition-timing) var(--transition-function), opacity var(--transition-timing) var(--transition-function);
  transition: transform var(--transition-timing) var(--transition-function), opacity var(--transition-timing) var(--transition-function), -webkit-transform var(--transition-timing) var(--transition-function);
}

.form-icon--unchecked {
  border: 2px solid var(--color-title);
  -webkit-transition: border-color var(--transition-timing) var(--transition-function);
  transition: border-color var(--transition-timing) var(--transition-function);
}

.checkbox__form:checked + .form-icon {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.checkbox__label {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .checkbox__label {
    font-size: 12px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

@media screen and (max-width: 767.98px) {
  .checkbox__label {
    font-size: 12px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.checkbox__link {
  color: var(--color-accent);
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.header {
  border-bottom: 1px solid var(--background-team-color);
  padding-top: 25px;
  padding-bottom: 25px;
}

.header-container,
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

@media screen and (max-width: 767.98px) {
  .header-container .navigation,
  .navigation .navigation {
    display: none;
  }
}

.nav-contact__list {
  margin-top: auto;
  margin-bottom: auto;
}

@media screen and (min-width: 1200px) {
  .nav-contact__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 767.98px) {
  .nav-contact__list {
    display: none;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  list-style: none;
}

@media screen and (max-width: 767.98px) {
  .nav__list {
    display: none;
  }
}

.nav__list--start {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--color-title);
}

.nav__list--finish {
  color: var(--color-text);
  margin-left: auto;
}

.nav__list:focus::after, .nav__list:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__list--start > .nav__item:not(:last-child),
.nav__list--finish > .nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav-contact__link {
  position: relative;
  display: block;
  padding-top: 0;
  padding-bottom: 0;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-text);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-contact__link:hover, .nav-contact__link:focus {
  color: var(--color-accent);
}

.nav__link {
  position: relative;
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-title);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link::before {
  content: "";
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--hero-text-color);
}

.nav__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: -1px;
  left: 0;
  border-radius: 2px;
  background: #2196f3;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav__link.current::after {
  position: absolute;
  left: 0;
  top: 43px;
  color: var(--color-accent);
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .nav__link.current::after {
    top: 55px;
  }
}

.nav-contact__item {
  margin-bottom: 9px;
  margin-right: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .nav-contact__item {
    margin-right: 0;
  }
}

.nav__link {
  padding-left: 0;
  margin: 0;
}

@media screen and (min-width: 1200px) {
  .shift-list {
    margin-top: 94px;
    margin-bottom: 94px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .shift-list {
    margin-top: 60px;
  }
}

@media screen and (max-width: 767.98px) {
  .shift-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 60px;
  }
}

.logo {
  display: inline-block;
  color: #2196f3;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  font-family: "Raleway";
  padding: 0px;
}

@media screen and (max-width: 767.98px) {
  .logo {
    padding-top: 16px;
    padding-bottom: 16px;
    padding: 0;
  }
}

.logo__text--dark {
  color: black;
  margin-right: 93px;
}

.logo__text--light {
  color: white;
}

.hero {
  text-align: center;
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .hero {
    max-width: 480px;
    background-size: 480px 400px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-size: 768px 400px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    background-size: 1600px 600px;
  }
}

@media screen and (max-width: 1199.98px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (max-width: 767.98px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/hero/mobile/jpg/overlaysm.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/mobile/jpg/overlaysm.jpg);
  }
}

@media screen and (max-width: 767.98px) and (min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (min-resolution: 192dpi), screen and (max-width: 767.98px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/hero/mobile/jpg/overlay@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/mobile/jpg/overlay@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/hero/tablet/jpg/overlayimg.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/tablet/jpg/overlayimg.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/hero/tablet/jpg/overlayimg@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/tablet/jpg/overlayimg@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/hero/desctop/jpg/overlaysm.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/desctop/jpg/overlaysm.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/hero/desctop/jpg/overlay@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/desctop/jpg/overlay@2x.jpg);
  }
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.65;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767.98px) {
  .hero__title {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .hero__title {
    width: 360px;
  }
}

@media screen and (max-width: 1199.98px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
  gap: 30px;
}

@media screen and (min-width: 1200px) {
  .clients__list__item:not(:last-child) {
    gap: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .clients__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 767.98px) {
  .clients__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover,
.client__link:focus,
.client__item svg:hover,
.client__item svg:focus {
  fill: #2196f3;
  border-color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients {
  background-color: var(--hero-text-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.work-team {
  margin-bottom: 94px;
  margin-top: 94px;
}

@media screen and (max-width: 1199.98px) {
  .work-team {
    display: none;
  }
}

.work-team__shifts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
  margin-top: 0;
  margin-bottom: 0;
}

.work-team__item {
  display: block;
  position: relative;
  margin-bottom: 30px;
}

.work-team__item:not(:last-child) {
  max-width: 100%;
  margin-right: 30px;
}

.work-team__overlay {
  content: "";
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  line-height: 1.14px;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background-team-color);
}

.team__name {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.19;
  text-align: center;
  color: var(--color-title);
  margin-bottom: 10px;
}

.team__text {
  text-align: center;
  margin-bottom: 16px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

@media screen and (max-width: 767.98px) {
  .team__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team .team__item {
  max-width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media screen and (max-width: 767.98px) {
  .team .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team .team__item {
    width: 354px;
  }
  .team .team__item:nth-child(odd) {
    margin-right: 30px;
  }
  .team .team__item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team .team__item {
    width: 270px;
  }
  .team .team__item:nth-child(-n + 2) {
    margin-bottom: 0;
  }
  .team .team__item:not(:last-child) {
    margin-right: 30px;
  }
}

.nets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
}

.nets__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: #ffffff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nets__link--light {
  color: #afb1b8;
}

.nets__link--dark {
  background-color: rgba(255, 255, 255, 0.1);
}

.nets__link:hover, .nets__link:focus {
  background-color: var(--color-accent);
  color: #ffffff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nets__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nets__item:hover, .nets__item:focus {
  background-color: #2196f3;
}

.nets__item:not(:last-child) {
  margin-right: 10px;
}

.subscribe__email {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: border-color var(--transition-timing) var(--transition-function);
  transition: border-color var(--transition-timing) var(--transition-function);
}

.subscribe__email:focus, .subscribe__email:hover {
  outline: 0;
  border-color: #fff;
}

@media screen and (max-width: 767.98px) {
  .subscribe__email {
    max-width: 450px;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .subscribe__email {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__email {
    width: 358px;
    margin-right: 12px;
  }
}

@media screen and (max-width: 767.98px) {
  .subscribe__container {
    width: 100%;
  }
}

@media screen and (max-width: 1199.98px) {
  .subscribe__container {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__container {
    margin-left: auto;
  }
}

.subscribe__text {
  display: inline-block;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .subscribe__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.subscribe__label {
  width: 100%;
  display: block;
}

@media screen and (max-width: 1199.98px) {
  .subscribe__label {
    margin-bottom: 20px;
  }
}

.footer {
  background-color: var(--background-footer);
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 0;
  margin-bottom: 0;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .footer-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer-container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.btn__content {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn__icon {
  margin-left: 10px;
}

.adress {
  font-style: normal;
  line-height: 1.71;
  color: var(--hero-text-color);
}

.adress__text {
  margin-bottom: 9px;
}

.footer__list .nav__link {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus,
.footer__list .nav__link:hover,
.footer__list .nav__link:focus {
  color: var(--color-accent);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199.98px) {
  .footer__box {
    margin-bottom: 60px;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__box {
    margin-right: 70px;
  }
}

@media screen and (max-width: 1199.98px) {
  .join-in {
    text-align: center;
    margin-bottom: 60px;
  }
}
/*# sourceMappingURL=main.css.map */