h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

a {
  text-decoration: var(--text-decoration);
}

ul {
  list-style: var(--list-style);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.footer,
.adress,
.footer__list,
.nav__link {
  padding-left: 0;
  margin: 0;
}