:root {
    --color-text: #757575;
    --color-title: #212121;
    --color-accent: #2196f3;
    --studio-color: black;
    --hero-text-color: #ffffff;
    --background-team-color: #f5f4fa;
    --background-footer: #2f303a;
    --footer-studio: white;
    --footer-contacts: #ffffff99;
    --border-radius: 0px 0px 4px 4px;
    --card-set-gap: 30px;
    --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    --list-style: none;
    --text-decoration: none;
    --transition-timing: 250ms;
    --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}