.footer {
    background-color: var(--background-footer);
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 0;
    margin-bottom: 0;
}

.footer-container {
    
            display: flex;
            flex-direction: column;
            align-items: center;
    
            @include mq(tablet) {
                flex-wrap: wrap;
                align-items: baseline;
                flex-direction: row;
            }
    
            @include mq(tablet-only) {
                justify-content: space-around;
            }
    
            @include mq(desctop) {
                flex-wrap: nowrap;
            }}


.btn__content {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn__icon {
    margin-left: 10px;
}


.adress {
    font-style: normal;
    line-height: 1.71;
    color: var(--hero-text-color);
}

.adress__text {
    margin-bottom: 9px;
}


.footer__list .nav__link {
    color: rgba(255, 255, 255, 0.6);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus,
.footer__list .nav__link:hover,
.footer__list .nav__link:focus {
    color: var(--color-accent);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__box {
    @include mq(not-desctop) {
            margin-bottom: 60px;
            text-align: center;
            
        }
    
        @include mq(desctop) {
            margin-right: 70px;
        }
}

.join-in {
    @include mq(not-desctop) {
            text-align: left;
            margin-bottom: 60px;
        }

        @include mq(mobile-only) {
            text-align: center;
            margin-bottom: 60px;
        }
}