.logo {
    display: inline-block;
    color: #2196f3;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    font-family: "Raleway";
    padding: 0px;
   

    @include mq(mobile-only) {
            padding-top: 16px;
            padding-bottom: 16px;
            padding: 0;
        }

    &__text--dark {
         color: rgb(0, 0, 0);
         margin-right: 93px;
}

    &__text--light {
         color: rgb(255, 255, 255);
}}