.logo {
    display: inline-block;
    color: #2196f3;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    font-family: "Raleway";
    padding: 0px;
    margin-right: 90px;


     &--dark {
         color: black;
}

     &--light {
         color: #ffffff;
}}