// .backdrop {
//    position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0, 0, 0, 0.2);
//     opacity: 0;

//     transition: opacity var(--transition-timing) var(--transition-function),
//         visibility var(--transition-timing) var(--transition-function);
// }



// .backdrop.is-hidden.modal {
//         transform: translate(-50%, -50%);
//         opacity: 0;
        
    
// }



// .modal {
//     position: fixed;
//     height: 581px;
//     top: 50%;
//     left: 50%;
//     width: 528px;
//     padding: 40px;
//     background-color: var(--hero-text-color);
//     border-radius: 4px;
//      z-index: 10;
//     opacity: 0;
//     transform: translate(-50%, -50%);
//     transition: transform var(--transition-timing) var(--transition-function),
//         opacity var(--transition-timing) var(--transition-function);
//         box-shadow: 0px 1px 3px hsla(0, 0%, 0%, 0.12),
//         0px 1px 1px rgba(0, 0, 0, 0.14),
//         0px 2px 1px rgba(0, 0, 0, 0.2);

//         @include mq(not-desctop) {
//         width: 450px;
//     }

//         @include mq(desctop) {
//         width: 528px;
//     }

  
// }


// .modal__title {
//     display: flex;
//     justify-content: center;
//     margin-bottom: 12px;

//     font-weight: 700;
//     font-size: 20px;
//     line-height: 1.15;
//     text-align: center;
//     color: var(--color-title);
// }

// .btn__close {
//     position: absolute;
//     width: 30px;
//     height: 30px;
//     top: 8px;
//     right: 8px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     padding: 0;
//     margin: 0;
    
//     color: #000;
//     background-color: #fff;
//     border: 1px solid rgba(0, 0, 0, 0.1);
//     border-radius: 50%;
//     cursor: pointer;
//     transition: color var(--transition-timing) var(--transition-function);

//     &:hover .btn__close,
//     &:focus .btn__close {
//         fill: var(--color-accent);
//     }
// }

// .svg-link,
// .form__icon,
// .svg {
//     fill: currentColor;
// }

// .svg__mail,
// .svg__phone {
//     margin-right: 10px;
// }

// .svg:hover,
// .svg:focus {
//     fill: var(--color-accent);
//     transition: color var(--transition-timing) var(--transition-function);
// }

// .form__label:focus-within,
// .form__field:focus-within .form__icon {
//     fill: var(--color-accent);
// }

// .form__contact {
//     text-align: center;
// }

// .form__field {
//     display: block;
//     margin-bottom: 10px;
//     text-align: left;
// }

// .form__label {
//     display: inline-block;
//     font-family: inherit;
//     margin-bottom: 4px;
//     font-size: 12px;
//     line-height: 1.17;
//     letter-spacing: 0.01em;

//     color: #757575;
// }


// .form__container {
//     position: relative;
//     display: block;
// }

// .form__input {
//     display: flex;
//     cursor: pointer;
//     width: 100%;
//     height: 40px;
//     padding: 12px 16px;
//     padding-left: 42px;
//     line-height: 1.14;
//     letter-spacing: 0.01em;
//     color: var(--caption-text-color);
//     border: 1px solid rgba(33, 33, 33, 0.2);
//     border-radius: 4px;
//     transition: border-color var(--transition-timing) var(--transition-function);
    
//     &:hover,
//     &:focus {
//         border: 1px solid var(--color-accent);
//     }

// }

// .form__input {

//     &:focus + .form__icon {
//     fill: var(--color-hover);
// }
// }



// .form__field:focus-within .form__input,
// .form__field:focus-within .form__comments {
//     outline: 0;
//     border-color: var(--color-accent);
// }

// .form__icon {
//     position: absolute;
//     top: 50%;
//     left: 13px;
//     color: var(--color-title);
//     fill: currentColor;
//     transform: translateY(-50%);
//     transition: color var(--transition-timing) var(--transition-function);

//     &:focus-within {
//         fill: var(--color-accent);
//     }
// }

// .form__field.comments {
//     margin-bottom: 20px;
// }

// .form__comments {
//     display: flex;
//     width: 100%;
//     height: 120px;
//     padding: 12px 16px;
//     resize: none;
//     cursor: pointer;

//     color: var(--color-title);
//     border: 1px solid rgba(33, 33, 33, 0.2);
//     border-radius: 4px;
//     transition: border-color var(--transition-timing) var(--transition-function);

//     &:hover,
//     &:focus {
//         border: 1px solid var(--color-accent);
//     }

// }

// .checkbox {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin-bottom: 30px;
// }


// .checkbox__container {
//     position: relative;
//     display: flex;
//     width: 16px;
//     height: 15px;
//     margin-right: 8px;
//     cursor: pointer;
//     align-items: center;
//     justify-content: center;

    
// }

// .checkbox__form {
//     position: absolute;
//     white-space: nowrap;
//     width: 1px;
//     height: 1px;
//     overflow: hidden;
//     border: 0;
//     padding: 0;
//     clip: rect(0 0 0 0);
//     clip-path: inset(50%);
//     margin: -1px;
// }

// .form-icon {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 16px;
//     height: 15px;
// }

// .form-icon--checked {
//     transform: scale(0.2);
//     opacity: 0;
//     transition: transform var(--transition-timing) var(--transition-function),
//                  opacity var(--transition-timing) var(--transition-function);
// }

// .form-icon--unchecked {
    
//     border: 2px solid var(--color-title);
//     transition: border-color var(--transition-timing) var(--transition-function);
// }

// .checkbox__form:checked+.form-icon {
//     transform: scale(1);
//     opacity: 1;
// }

// .checkbox__label {
//     line-height: 1.71;
//     cursor: pointer;
//     user-select: none;

//     @include mq(mobile-only) {
//            font-size: 12px;
//            line-height: 1.16;
//            letter-spacing: 0.03em;
//            color: #757575;
//     }
//      @include mq(tablet-only) {
//            font-size: 12px;
//            line-height: 1.16;
//            letter-spacing: 0.03em;
//            color: #757575;
//     }
// }

// .checkbox__link {
//     color: var(--color-accent);
//     text-decoration-line: underline;
// }



// =================================================================================

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;

  width: 95%;

  padding: 40px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  opacity: 1;

  transition: transform $generalAnimation;

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
  }

  .backdrop.is-hidden & {
    transform: translateY(-200%);
  }
}

.modal__title {
  display: inline;

  margin-bottom: 12px;

  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: $colorH2-h3;
}

.modal__form {
  display: block;
  width: 100%;

  margin-bottom: 10px;

  @media screen and (max-width: 767px) {
    &:focus-within {
      color: $colorFocus;
    }
  }
}

.modal__label {
  display: inline-block;

  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal__custom {
  position: relative;
  display: block;
  height: 40px;
}

.modal__input {
  width: 100%;
  height: 100%;

  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border $generalAnimation;

  &:focus,
  &:focus {
    border-color: $colorFocus;
    outline: transparent;
  }
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);

  transition: fill $generalAnimation;
}

.modal__input:focus + .modal__icon {
  fill: $colorFocus;
}

.modal__area-form {
  width: 100%;
  margin-bottom: 20px;

  @media screen and (max-width: 767px) {
    &:focus-within {
      color: $colorFocus;
    }
  }
}

.modal__area {
  width: 100%;

  padding: 8px;
  resize: none;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #000000;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  &:focus,
  &:focus {
    border-color: $colorFocus;
    outline: transparent;
  }

  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}



