.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--background-team-color);

   &__name {
        font-weight: 500;
        font-size: 15px;
        line-height: 1.19;
         text-align: center;
        color: var(--color-title);
        margin-bottom: 10px;
    }

   &__text {
      text-align: center;
       margin-bottom: 16px;
  }

   &__list {
        
            @include mq(tablet) {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                }
        }
   }

  

   .team__item {
    
              width: 100%;
    
              @include mq(mobile-only) {
                  &:not(:last-child) {
                      margin-bottom: 30px;
                  }
              }
    
              @include mq(tablet) {
                  width: 354px;
    
                  &:nth-child(odd) {
                      margin-right: 30px;
                  }
    
                  &:nth-child(-n + 2) {
                      margin-bottom: 30px;
                  }
              }
    
              @include mq(desctop) {
                  width: 270px;
    
                  &:nth-child(-n + 2) {
                      margin-bottom: 0;
                  }
    
                  &:not(:last-child) {
                      margin-right: 30px;
                  }
              }
          }