html {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: var(--color-text);
    font-style: normal;
    letter-spacing: 0.03em;
    margin: 0;
}

.title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.27;
    text-align: center;
    color: var(--color-title);
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
            font-size: 36px;
            line-height: 1.17;
            margin-bottom: 50px;
        }
}


.projects__title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-title);
}




.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin-bottom: 30px;
    background-color: #f5f4fa;
}

