.shift-buttons-set {
  text-align: center;
    margin-top: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;

 

    &__item {
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;

    @include mq(mobile-only) {
              &:nth-last-child(2) {
               margin-bottom: 0;
}

              &:last-child {
               margin-bottom: 0;
}}

@include mq(tablet-only) {
              &:nth-last-child(2) {
               margin-bottom: 0;
}

              &:last-child {
               margin-bottom: 0;
}}
 
          @include mq(desctop) {
      margin-bottom: 0;
}   

          @include mq(tablet) {
      margin-bottom: 0;
} 

    @include mq(mobile-only) {
      margin-bottom: 15px;
} 
}

    &:not(:last-child) {
    margin-right: 8px;
    
}
}